@charset "UTF-8";
header {
  position: relative;
}
header .retour {
  position: absolute;
  left: 0;
}
header .retour a {
  color: black;
  font-size: 20px;
}

main {
  width: 100%;
  background-color: #F7F7F7;
}

.banniere {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  width: 100%;
}

.menu {
  width: 100%;
  position: relative;
  top: -2%;
  background-color: #F7F7F7;
  border-radius: 25px 25px 0 0;
}

.enseigne {
  display: flex;
  justify-content: space-between;
  font-family: Shrikhand;
  padding: 5% 5% 0% 5%;
}

form {
  margin: 0 5%;
}
form .liste {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
form h2 {
  margin-top: 25px;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}
form h2::after {
  content: "";
  display: flex;
  width: 40px;
  margin: 0 0 13px 0;
  height: 3px;
  background-color: #99E2D0;
}

.produit {
  display: flex;
  overflow: hidden;
  border-radius: 13px;
  height: 70px;
  background-color: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.14);
  transition: all 0.3s;
}
.produit:hover {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
}
.produit .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 2%;
}
.produit .description h3, .produit .description span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}
.produit .description h4 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}
.produit .icon-check {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 0%;
  background-color: #99E2D0;
  transition: width 0.3s;
}
.produit .icon-check i {
  background-color: #FFF;
  color: #99E2D0;
  border-radius: 20px;
  padding: 5px;
}
.produit:hover .icon-check {
  width: 20%;
}
.produit:hover i {
  animation: animation-icon-check-rotation 0.35s ease-in-out forwards;
}
@keyframes animation-icon-check-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
}
.commander input {
  display: none;
}
.commander label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  border-radius: 30px;
  margin-top: 40px;
  color: white;
}

@media screen and (min-width: 1050px) {
  form {
    flex-direction: row;
  }
}
/* Animation arrivée sur le site */
.entrees {
  opacity: 0;
  animation: animation-fade-in-up 1s ease-out forwards;
}
.entrees .delay1-1 {
  opacity: 0;
  animation: animation-fade-in-up 1s 0.4s ease-out forwards;
}
.entrees .delay1-2 {
  opacity: 0;
  animation: animation-fade-in-up 1s 0.6s ease-out forwards;
}
.entrees .delay1-3 {
  opacity: 0;
  animation: animation-fade-in-up 1s 0.8s ease-out forwards;
}
.entrees .delay1-4 {
  opacity: 0;
  animation: animation-fade-in-up 1s 1s ease-out forwards;
}

.plats {
  opacity: 0;
  animation: animation-fade-in-up 1s 1.6s ease-out forwards;
}
.plats .delay2-1 {
  opacity: 0;
  animation: animation-fade-in-up 1s 1.8s ease-out forwards;
}
.plats .delay2-2 {
  opacity: 0;
  animation: animation-fade-in-up 1s 2s ease-out forwards;
}
.plats .delay2-3 {
  opacity: 0;
  animation: animation-fade-in-up 1s 2.2s ease-out forwards;
}

.desserts {
  opacity: 0;
  animation: animation-fade-in-up 1s 2.8s ease-out forwards;
}
.desserts .delay3-1 {
  opacity: 0;
  animation: animation-fade-in-up 1s 3s ease-out forwards;
}
.desserts .delay3-2 {
  opacity: 0;
  animation: animation-fade-in-up 1s 3.2s ease-out forwards;
}
.desserts .delay3-3 {
  opacity: 0;
  animation: animation-fade-in-up 1s 3.4s ease-out forwards;
}

.delay4-1 {
  opacity: 0;
  animation: animation-fade-in-up 1s 4s ease-out forwards;
}/*# sourceMappingURL=style_restaurants.css.map */